@import "./styles/fonts.css";
@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;

  color: white;

  background: #050505;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;

  min-height: 100vh;

  background: #050505;

  color: white;

  overflow-x: hidden;

  scroll-behavior: smooth;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}